#messages {
    @for $i from 1 through 6 {
        h#{$i} {
            text-align: center;
        }
    }

    font-size: 2em;
    font-family: sans-serif;

    &.hide{
        display: none;
    }

    position: absolute;
    top: $messages-margin-top;
    background: $background-messages;
    padding: $messages-padding;

    border: $border-width solid darken($background-messages, $border-darkening);

    label {
        word-wrap: none;
    }

    .ai-levels, .choose-color {
        display: flex;
        justify-content: space-around;


        .red {color: $red;}
    }

    button.new-game{
        margin-bottom: 1em;
        display: block;
        width: 100%;
        font-size: 2em;
        font-weight: bold;
        background: $button-color;
        border: $border-width solid darken($button-color, $border-darkening);

        &:hover {
            border: $border-width solid lighten($button-color, $border-highlight-lightening);
        }

        &:active {
            border: $border-width solid darken($button-color,$border-highlight-darkening);
        }
    }

    .instructions {
        text-align: center;
        img {
            height: 0.8em;
        }
    }
}

#winner {
    font-size: 3em;
    text-transform: uppercase;

    &.blue {color: $blue;}
    &.red {color: $red;}
}
