$cell-size: #{min(100vw / 8,100vh / 10 )};
$cell-margin: 1px;
$cell-margin-hovered: 2px;
$border-width: 2px;
$border-darkening: 15%;
$border-highlight-darkening: 5%;
$border-highlight-lightening: 5%;

$messages-margin-top: 2em;
$messages-padding: 1em;

$background: #222;
$background-messages: #ccc;

$button-color: #ebeb88;
$red: #EB3202;
$blue: #086794;
$water: #0A435F;
$trap: #975408;
$grass: #066B32;
